<h3><%= link_to l(:label_periodic_tasks), settings_project_path(@project, :tab => 'periodictask') %> : <%= @periodictask.subject %></h3>

<%= form_for(@periodictask, :url => url_for(:controller => 'periodictask', :action => 'update', :project_id => @project.identifier, :id => @periodictask.id.to_s ) ) do |f| %>
<%= render :partial => 'form', :locals => { :f => f } %>
<%= f.submit l(:button_save) %>
<% end %>
<%= link_to l(:button_cancel), settings_project_path(@project, :tab => 'periodictask') %>